In [147]:
import shasha
import pandas as pd
import numpy as np

In [148]:
from shasha import My_Multiple_Regression,My_Linear_Regression,My_Logistic_Regression,My_KNN,My_DecisionTree,My_Random_Forest

In [149]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,accuracy_score,mean_absolute_error  
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

Linear Regression

In [150]:
data=pd.read_csv('./dataset/linear-salary/salary.csv')
data=data.iloc[:,1:]
data.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [151]:
X=data.loc[:,['YearsExperience']]
y=data.loc[:,['Salary']]

X=np.array(X)
y=np.array(y)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [152]:
my_l_model= My_Linear_Regression(learning_rate=0.01,epochs=1000)


my_l_model.fit(X_train,y_train)

y_pred=my_l_model.predict(X_test)

me= mean_absolute_error(y_test,y_pred)

print(me)

1905.249659312581

In [153]:
sk_l_model=LinearRegression()
sk_l_model.fit(X_train,y_train)

y_pred=sk_l_model.predict(X_test)

me= mean_absolute_error(y_test,y_pred)

print(me)

2446.17236904651

Multiple Linear Regression

In [154]:

data=pd.read_csv('dataset/multi/insurance.csv')

data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [155]:
df = pd.get_dummies(data, columns=['sex', 'region', 'smoker'],dtype=int)

In [156]:
X=df.drop('charges',axis=1)
y=df['charges']

X=StandardScaler().fit_transform(X)

X=np.array(X)
y=np.array(y)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [157]:
my_m_model= My_Multiple_Regression(learning_rate=0.01,epochs=400)
my_m_model.fit(X_train,y_train)
y_pred=my_m_model.predict(X_test)
me= mean_absolute_error(y_test,y_pred)
print(me)

3877.8428737436743

In [158]:
sk_m_model=LinearRegression()
sk_m_model.fit(X_train,y_train)
y_pred=sk_m_model.predict(X_test)
me= mean_absolute_error(y_test,y_pred)
print(me)

3955.2958896029786

Logistic Regression

In [159]:
data=pd.read_csv('dataset/bank/bank-cleaned.csv')

In [160]:
X=data.drop('Y_yes',axis=1)
y=data['Y_yes']


X=np.array(X)
y=np.array(y)

X=StandardScaler().fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [161]:
my_log_model= My_Logistic_Regression(learning_rate=0.01,epochs=800)
my_log_model.fit(X_train,y_train)
y_pred=my_log_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.9083515416363195

In [162]:
sk_log_model=LogisticRegression()
sk_log_model.fit(X_train,y_train)
y_pred=sk_log_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.9149065307113377

Multiple Linear Regression

In [163]:

data=pd.read_csv('dataset/multi/insurance.csv')

# data.head()

In [164]:
df = pd.get_dummies(data, columns=['sex', 'region', 'smoker'],dtype=int)

In [165]:
X=df.drop('charges',axis=1)
y=df['charges']

X=StandardScaler().fit_transform(X)

X=np.array(X)
y=np.array(y)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [166]:
my_m_model= My_Multiple_Regression(learning_rate=0.01,epochs=400)

my_m_model.fit(X_train,y_train)

y_pred=my_m_model.predict(X_test)

me= mean_absolute_error(y_test,y_pred)
print(me)

3877.8428737436743

In [167]:
sk_m_model=LinearRegression()

sk_m_model.fit(X_train,y_train)

y_pred=sk_m_model.predict(X_test)

me= mean_absolute_error(y_test,y_pred)

print(me)

3955.2958896029786

Decision Tree

In [168]:
data=pd.read_csv('dataset/wine/winequality-red.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [169]:
X=data.drop('quality',axis=1)
y=data['quality']

X=np.array(X)
y=np.array(y)

In [170]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [171]:

mytree=My_DecisionTree(max_depth=3,min_samples_split=3)
mytree.fit(X_train,y_train)
y_pred=mytree.predict(X_test)
accuracy_score(y_test,y_pred)

0.575

In [172]:
sk_dt_model=DecisionTreeClassifier(max_depth=3,min_samples_split=3)
sk_dt_model.fit(X_train,y_train)
y_pred=sk_dt_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.565625

Random Forest

In [173]:

myforest=My_Random_Forest(n_trees=20,max_depth=90,min_samples_split=3)
myforest.fit(X_train,y_train)
y_pred=myforest.predict(X_test)
accuracy_score(y_test,y_pred)

0.7

In [174]:

myforest=RandomForestClassifier(n_estimators=20,max_depth=90,min_samples_split=3)
myforest.fit(X_train,y_train)
y_pred=myforest.predict(X_test)
accuracy_score(y_test,y_pred)

0.709375